<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thumbs.dreamstime.com/b/top-view-film-bobbin-airy-delicious-popcorn-banner-cinema-concept-top-view-film-bobbin-airy-delicious-popcorn-banner-210961621.jpg)" >
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>

<div class="container">

  <div class="button-corner">
    <h2>My Lists</h2>
    <%= link_to "Add a new list", new_list_path, class: "btn btn-flat" %>
  </div>
  
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key %>')">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>

</div>
